@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
}

header {
    color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: headeranimate 20s infinite ease-in-out;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    height: inherit;
    padding: 0px 30px 0px 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}

.container h1 {
    margin: 0;
}

/* navbar */

nav {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 173, 50);
    width: 100%;
}

.nav-items ul, .collapsed-nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.nav-items li {
    float: right;
}

.collbtn{
    width: 49px;
    height: 49px;
    background-color: transparent;
    border: none;
    background-image: url(../svg/menu_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg);
    background-size: 34px;
    background-repeat: no-repeat;
    background-position: center;
}

.collbtn.active {
    background-image: url(../svg/close_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg);
}

.nav-items ul li button:hover {
    background-color: rgb(201, 136, 39);
}

.nav-items a, .collapsed-nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.nav-items {
    width: 100%;
    height: 49px;
}

.collapsed-nav {
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: .3s ease-in-out;
}

.collapsed-nav.active {
    height: 196px;
}

.nav-items a:hover, .collapsed-nav a:hover {
    background-color: rgb(201, 136, 39);
}

@media (min-width:726px) {
    .collbtn {
        display: none;
    }
}

@media (max-width:725px) {
    .nav-items a {
        display: none;
    }
}

/* content */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.legi, .foldi, .vizi {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.legi {
    background-image: url(../img/galeriamenuimages/vadaszgep.jpg);
}

.foldi {
    background-image: url(../img/galeriamenuimages/foldi.jpg);
}

.vizi {
    background-image: url(../img/galeriamenuimages/vizi.jpg);
}

.bgshade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
}

.bgshade button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    background-image: url(../svg/nyilfeher.svg);
    background-size: cover;
    background-repeat: no repeat;
    background-position: center;
    border-radius: 50%;
    transition: .3s ease-in-out;
    margin-bottom: 60px;
}

.bgshade button:hover {
    background-color: rgba(0, 0, 0, 0.6);
}