@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

body {
    margin: 0px;
    width: 100%;
}

.bevezeto {
 margin: 20px;
}

header {
    color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: headeranimate 20s infinite ease-in-out;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    height: inherit;
    padding: 0px 30px 0px 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}

.container h1 {
    margin: 0;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 173, 50);
    width: 100%;
}

.nav-items ul, .collapsed-nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.nav-items li {
    float: right;
}

.nav-items ul li button {
    width: 49px;
    height: 49px;
    background-color: transparent;
    border: none;
}

.nav-items ul li button:hover {
    background-color: rgb(201, 136, 39);
}

.nav-items a, .collapsed-nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.nav-items {
    width: 100%;
}

.collapsed-nav {
    width: 100%;
}

.nav-items a:hover, .collapsed-nav a:hover {
    background-color: rgb(201, 136, 39);
}

/* bevezeto */

.bg h1 {
    margin-left: 20px;
}

.bg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    transition: .3s ease-in-out;
}

.picturteonright img {
    float: right;
    width: 400px;
    margin-left: 20px;
}

.pageitems {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.levego, .fold, .viz {
    width: 30vw;
    height: 30vw;
    display: flex;
    justify-content: baseline;
    align-items: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    padding: 0;
    text-decoration: none;
}

.levego h1, .fold h1, .viz h1 {
    color: transparent;
    transition: .3s ease-in-out;
}

.levego:hover .bg, .fold:hover .bg, .viz:hover .bg {
    background-color: rgba(0, 0, 0, 0.6);
}

.levego:hover h1, .fold:hover h1, .viz:hover h1 {
    color: white;
}

.levego {
    background-image: url(../img/elemek/tornado-und-eurofighter.jpg);
}

.fold {
    background-image: url(../img/elemek/https___cloudfront-us-east-2.images.arcpublishing.com_reuters_M3NCZORW3RIMVMY6Y2PJWX2Y4M.avif);
}

.viz {
    background-image: url(../img/elemek/k__ap20220126221-e1644320107708.jpg);
}

/* animations */

@keyframes headeranimate {
    0% {
        background-image: url(../img/fooldalheader/mig-31k-orosz-hiperszonikus-vadaszgepek-oroszorszag-moszkva-voros-ter-a-gyozelem-napja-512649.jpg);
    }
    50% {
        background-image: url(../img/fooldalheader/R.jpg);
    }
    100% {
        background-image: url(../img/fooldalheader/mig-31k-orosz-hiperszonikus-vadaszgepek-oroszorszag-moszkva-voros-ter-a-gyozelem-napja-512649.jpg);
    }
}